.master-div {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width: fit-content;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.master-div-parent {
    width: 960px;
    height: 720px;
    display: flex;
    margin: auto;
}

.button-prompt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: rgb(0, 179, 255);
    border-radius: 20px;
    font-weight: 900;
    padding: 10px;
}

div {
    user-select: none;
}

#color-picker {
    background: linear-gradient(60deg, rgb(250, 88, 88), rgb(90, 233, 255));

    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    text-Align: center;
    font-Weight: 900;

}

.colors {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    margin-top: 18px;
    box-sizing: border-box;
    border: 2px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(0, 157, 255);
}

.green {
    background-color: rgb(13, 255, 0)
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#clear-button{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    background-color: yellow;
    font-weight: 900;
    font-size: larger;
    padding: 10px;

}
#clear-button:active{
    transform: scale(0.98);
    box-shadow: black;
}
.randomColor{
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}